<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <nav id="nav">
        <ul>
            <li><a href="/"><img src="/img/home.png" alt="home" width="50" height="50"></a></li>
            <li><a href="/tarefa"><img src="/img/plus.png" alt="plus" width="50" height="50"></a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>