.contentBG #title{
    text-align: center;
    font-size: 25px;
}
#name{
    padding-top: 10px;
}
#nameInput {
    border: none;
    border-radius: 5px;
    height: auto;
    width: 250px;
}
#date{
    padding-top: 10px;
}
#dateInput {
    border: none;
    border-radius: 5px;
}
#do {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
#content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
textarea {
    border: none;
    border-radius: 5px;
    height: 200px;
    width: 300px;
    resize: none;
    max-width: 300px;
    position: relative;
}
#button {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    margin-top: 10px;
}  
#button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}
#button:hover {
    background-color: #0071e2;
}
